<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">
    <img height="60px" src="assets/img/logo.jpg" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <div class="form-inline my-2 mx-2">
        <a [routerLink]="['/home']" class="mx-2">Home</a>
      <a [routerLink]="['/search']" class="mx-2">Buscar Productos</a>
      <a [routerLink]="['/profile']" class="mx-2">Profile</a>
      <a [routerLink]="['/login']" class="mx-2">Salir</a>
    </div>
  </div>
</nav>